
.chat-main
  .main-header
    .main-header__leftbox
      .main-header__leftbox__current-groupe
        グループ名:
      %ul.main-header__leftbox__member-list
        MEmber:
        %li.member
          メンバー名
        %li.member
          メンバー名
        %li.member
          メンバー名
    .main-header__edit-btn
      = link_to "Edit","#"
  .messsages
    .message
      .message__upper-info
        .message__upper-info__talker
          メンバー
        .message__upper-info__date
          2019/11/12
          .message__text
            メッセージ
  .form
    %input.form__message{:placeholder=>"tyep a message"}
    .form__mask
      %label.form__mask__image
        =icon('fa','image',class: 'icon')
        %input.hidden{type: 'file'}
    %input.form__submit{type: 'submit', value: 'send'}